@tailwind base;

*,
*::before,
*::after {
  min-width: 0;
  min-height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  object-position: center center;
}

*:focus,
*:-moz-focusring {
  outline: 0;
}

html,
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  min-height: -webkit-fill-available;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind components;
@tailwind utilities;

/* gradientBorder class */
.gradientBorder {
  position: relative;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  overflow: hidden;
}

.gradientBorder::before,
.gradientBorder::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 4px solid transparent;
  pointer-events: none;
}

.gradientBorder::before {
  border-image: linear-gradient(
    116.6deg,
    rgba(161, 253, 132, 0.5) 1.44%,
    rgba(102, 102, 102, 0) 100%
  );
  border-image-slice: 1;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("./fonts/MontserratRegular.ttf") format("truetype");
  /* Add other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
  font-family: "ChivoBold";
  src: url("./fonts/ChivoBold.ttf") format("truetype");
  /* Add other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
  font-family: "Chivo";
  src: url("./fonts/Chivo-Regular.ttf") format("truetype");
  /* Add other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("./fonts/ProximaNovaRegular.otf") format("truetype");
  /* Add other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("./fonts/ProximaNovaBold.otf") format("truetype");
  /* Add other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
  font-family: "MontserratBold";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  /* Add other font formats (e.g., woff, woff2) for better browser compatibility */
}
